# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    
      - name: DEBUG
        run: |
          echo "PWD:"
          pwd
          echo "ID:"
          id
          echo "ENV:"
          env
    
    
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0
          
#       - name: Run Shellcheck
#         uses: azohra/shell-linter@latest

#       - name: create reports folder
#         run: |
#           mkdir -p ${GITHUB_WORKSPACE}/github/workspace/
      - name: Lint Code Base
        uses: github/super-linter@v3
        env:
          FILTER_REGEX_INCLUDE: .*.sh
          # only sh files linted
          DEFAULT_BRANCH: main
          VALIDATE_ALL_CODEBASE: false
          # only new/changed files linted
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

#       # Runs a single command using the runners shell
#       - name: Run a one-line script
#         run: echo Hello, world!

#       # Runs a set of commands using the runners shell
#       - name: Run a multi-line script
#         run: |
#           echo Add other actions to build,
#           echo test, and deploy your project.
